127.0.0.1       localhost
::1             localhost ip6-localhost ip6-loopback

# Machines du projet NETSYS
{% for host in groups['all'] %}
{{ hostvars[host].ansible_host }}    {{ host }}
{% endfor %}
