options {
    directory "/var/cache/bind";

    recursion yes;
    allow-query { any; };

    listen-on port 53 { 127.0.0.1; {{ ansible_host }}; };
    listen-on-v6 { none; };

    forwarders {
        {{ dns_forwarder }};
    };

    dnssec-validation auto;
};
